<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )">
    <head>
        <link rel="stylesheet" href="/css/notice/notice.css">
    </head>
    <main>
        <div class="flex center notice">
        	<div class="ne-left">
        		<div>
        			<li><a href="/">Notice</a></li>
        		</div>
        		<div>
        			<li><a href="/">Event</a></li>
        		</div>
        	</div>
        	<div class="content">
        		<div class="notice-up"><h2>NOTICE</h2></div>
        		<select>
        			<option>전체</option>
        			<option value="01">공지</option>
        			<option value="02">당첨자 발표</option>
        		</select>
        		<div class="table">
        			<table class="notice-table">
        				<thead>
	        				<tr>
				    			<th>번호</th>
				    			<th>제목</th>			    			
				    			<th>작성일</th>    			
				    		</tr>
			    		</thead>
			    		<tr>
				    		<td>1</td>
				    		<td>[제휴 안내] 7월 KT <달.달. 혜택> 프로모션 이용 안내</td>			    			
				    		<td>2023-07-10</td>    			
				    	</tr>
        			</table>
        		</div>
        		<div class=""></div>
        		
        		<div class="paging center">
        			1 2 3 4 5 6 7 8 9 10
        		</div>
        		<div class="search_box flex center">
        			<select>
        				<option>선택하세요</option>
        				<option value="title">제목</option>
        				<option value="content">내용</option>
        				<option value="all">제목+내용</option>
        			</select>
        			<input>
        			<a>검색</a>
        		</div>
        	</div>
        </div>
    </main>
</html>