@charset "UTF-8";
.cart-wrap{
	padding: 2em;
}
.cart-wrap p{
	text-align: center;
}
.cart{
	width:300px;
	position: absolute;
	border:1px solid green;
}
.cart .cart-wrap ul{
	margin: 10px;
}

.cart .cart-wrap ul > li:nth-of-type(2){
	display: flex;
	align-items: center;
}

.cart-lBtn,.cart-RBtn {
	width:30px;
}
.del-Btn{
	margin-left:1em;
	width: 30px;
}

.num{
	width : 30px;
	display: inline-block;
	text-align: center;
}