<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security">
	<section class="cart">
	  <h1>장바구니 리스트</h1>
	  <div class="cart-wrap">
	  	<p>장바구니</p>
		  <ul  th:each="dto:${cartItems}" >
		  	<li >
		  		<span th:text="${dto.goods.name}">상품 명</span>
		  	</li>
		  	<li >
		  		<button class="cart-lBtn">-</button>
		  		<div th:text="${dto.count}" class="num">수량</div>
		  		<button class="cart-RBtn">+</button>
		  	</li>
		  </ul>
		  <ul >
		  	<li>
		  		<span>총 주문가격 : </span>
		  		<span th:text="${totalPrice}">총 주문가격</span>
		  	</li>
		  </ul>
		  <ul>
		  	<li>
		  		
		  		<button>결제</button>
		  	</li>
		  </ul>
		  </div> 
	</section>
</html>