<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security"
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )">
<head>
	<!-- iamport.payment.js -->
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<main>
<div class="order-size">
	<div>
		<h1>장바구니</h1>
		<div class="order-Barket">
			<table class="order-table">
				<thead>
					<tr>
						<th>사진</th>
						<th>상품명</th>
						<th>수량</th>
						<th>가격</th>
					</tr>
				</thead>
				<tr>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
</div>
</main>
</html>