<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security"
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )">
<head>
	<!-- iamport.payment.js -->
	<script src="https://cdn.iamport.kr/v1/iamport.js"></script>
	<script src="/js/order/order.js"></script>
	<link rel="stylesheet" href="/css/order/orderHistoryList.css">
</head>
<main>
	<h1>장바구니</h1>
	<div>
		<section id="cart-main">
			<div class="cart-wrap" style="position: relative;">
			<h2 class="cart-tit">주문 내역</h2>
			<div class="flex" style="font-weight: 200;font-size: 17px;position: absolute;
                top: 60px;left: 5px;">
				<a href="/cart" style="cursor: pointer;" >장바구니</a>
            	<span>  > 주문 내역 확인</span>
            </div>
			<div class="cart-area center">
				<ul class="order-row flex ">
					<li>주문번호</li>
					<li>상품명</li>
					<li>결제금액</li>
					<li>결제 날짜</li>				
				</ul>
				<ul class="order-content flex " th:each="dto:${list}">
					<li  th:text="${dto.uid}">주문번호</li>	
					<li  >
						<a th:href="@{/cart/history/{uid} (uid=${dto.uid})}" th:text="${dto.mainGood}">상품 명</a>
						<span th:if="${dto.totalCount>1}" th:text="${' 외 '+(dto.totalCount-1)+'개'}"></span>
					</li>	
					<li th:text="|${#numbers.formatInteger(dto.totalPrice, 3, 'COMMA')+' 원'}|">결제금액</li>
					<li th:text="${#temporals.format(dto.orderDate, 'yyyy.MM.dd HH:mm')}">결제 날짜</li>				
				</ul>
				
			</div>
			</div>
		</section>
		
	</div>

</main>
</html>