<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org">
    <head>
   	 	<meta charset="UTF-8">
    	<title>Insert title here</title>
    </head>
	<body>
		
		<p>인기상품</p>
		<div class="wrap flex">
			<ul class="wrap"  th:each="dto:${list}">
				<li>
					<a th:href="|/menu/${dto.cno}|">
						<img alt="#" th:src="${dto.url}" height="100px">
					</a>
					<p th:text="${dto.name}"></p>
					<div class="flex center" >
						<span></span>
						<span th:with="rate=${dto.sale.discount *100 / dto.price}">
							<span th:text="${#numbers.formatInteger(rate,1,'POINT')}">할인율</span><i>%</i>
						</span>
						<span th:with="dis=${dto.price-dto.sale.discount}">
							<span th:text="${#numbers.formatInteger(dis,3,'COMMA')}">할인후</span><i>원</i>
						</span>
						<span style="text-decoration: line-through;font-size: 12px;">
							<span th:text="${#numbers.formatInteger(dto.price,3,'COMMA')}">할인전</span><i>원</i>
						</span>
						
					</div>
				</li>
			</ul>
		</div>
		
	</body>
</html>