<!DOCTYPE html>
<html>
	<body>
		<section class="wait section-size">
			<th:block th:each="dto:${order}">
			<div class="flex wait-border">
				<div  class="time-info">
					<p th:text="${#temporals.format(dto.updateTime, 'MM/dd')}"></p>
						<p th:text="${#temporals.format(dto.updateTime, 'HH:mm')}"></p>
					
				</div>
				<div  class="adress-info">
					<p th:text="${dto.name}">고객 이름</p>
					<input type="hidden" id="cno" th:value="${dto.no}">
					<div th:each="item:${dto.orderItem}" class="flex">
						<p th:text="${item.name}"></p>
						<p th:text="${item.count}"></p>
					</div>
				</div>
			</div>
			</th:block>
		</section>
	</body>
</html>