<!DOCTYPE html>
<html>
    <head>
    	<link rel="stylesheet" href="/css/commons/common.css">
    	<link rel="stylesheet" href="/css/franchisee/order.css">
   	 	<meta charset="UTF-8">
    	<title>Insert title here</title>
    </head>
	<body class="order">
		<h3>주문페이지</h3>
		<div class="wrap">
			<div class="flex order-menu center">
				<div>
					<p>운영중인가게</p>
				</div>
				<div>
					<p>매출확인</p>
				</div>
				<div>
					<p>
						<a href="/">홈으로</a>
					</p>
				</div>
			</div>
			<div class="flex">
				<ul>
					<li>접수대기</li>
					<li>처리중</li>
					<li>주문취소</li>
					<li>배달완료</li>
				</ul>
				<ul>
					여기에 주문정보 들어와야함
				</ul>
			</div>
		</div>
	</body>
</html>