<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@48,400,0,0" />
    </head>
    <body>
    <section class="chatbot-section">
		
	</section>
	<div class="search-sec">
		<div class="search-input">
			<input type="text" class="search">
			<span onclick="chatbotSearch()" class="material-symbols-outlined">search</span>
		</div>
		
		<!-- <button onclick="chatbotSearch()" type="button">검색</button> -->
	</div>
</body>
</html>