<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
    <head>
        <meta charset="UTF-8">
        <title>Insert title here</title>
    </head>
    <body>
    	<p>검색페이지</p>
	    <div>
	    	<ul th:each="dto:${list}">
	    		<li th:text="${dto.question}">
	    			
	    		</li>
	    		<li th:text="${dto.answer}">
	    			
	    		</li>
	    	</ul>
	    </div>
	<div id="main-footer" style="text-align: center;">
		<div id="page" style="margin: 15px 0 50px 0;">
			<th:block th:each="page : ${#numbers.sequence(startPage, endPage)}">

				<a th:if="${page != nowPage}"
					th:href="@{/chatbot(page=${page - 1}, search=${param.search})}"
					th:text="${page}"></a>
				<strong th:if="${page == nowPage}" th:text="${page}"
					style="color: green"></strong>
			</th:block>
		</div>

	</div>
	<form action="/chatbot" method="get">
		<input type="text" name="search">
		<!-- <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" /> -->
		<button type="submit">검색</button>
	</form>
</body>
</html>