<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )" >
    <head>
    	<link rel="stylesheet" href="/css/commons/index.css">
    	<link rel="stylesheet" href="/css/notice/index-notice.css">
    	<script src="/js/index/index.js"></script>
    	<script src="/js/notice/notice.js"></script>
    	<script src="/js/notice/event.js"></script>
    </head>
    <main>
       <h1>메인영역</h1>
       <div class="visual-size">
       		<div class="in">
       			<div class="in-image-list">
	       			<ul class="image-list flex">
	       				<th:block th:each="i:${#numbers.sequence(1,4)}">
		       				<li class="image">
		       					<a href="#" >
		       						<img th:src="|/images/index/visual${i}.jpg|" height="530px">
		       					</a>
		       				</li>
	       				</th:block>
	       			</ul>
       			</div>
       		</div>
       	</div>
		<ul class="flex bullet-list between">
			<li class="bullet" th:each="i : ${#numbers.sequence(1,4)}" ><button th:text="${i}"></button></li>
		</ul>
        <div class="wrap view-size">

        	<p class="tit"></p>
        	

        	<div class="product-view" id="product-view">
        		<h1>상품 보이기</h1>
        	</div>
        	<div class="notice-view flex around">
        		<div class="notice">
        			<ol class="notice-list">
        				<div>
	        				<a class="tit" href="/notice">공지사항</a>
	        				<li class="index-notice">
	        					
	        				</li>
	        				<li >
	        				
	        				</li>
        				</div>
        			</ol>
        		</div>
        		<div class="event">
        			<ol class="event-list">
        				<div>
        					<a class="tit" href="/event">이벤트</a>
	        				<li class="index-event">
	        					
	        				</li>
	        				<li >
	        				
	        				</li>
        				</div>
        			</ol>
        		</div>
        	</div>

        </div>
    </main>
</html>