<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" xmlns:sec="//www.thymeleaf.org/extras/spring-security"
	 th:replace="layout/admin-layout :: layout(~{::head}, ~{::main})">
	 <head>
	 </head>
	<main>
		<div  th:each="allList:${list}">
			<form  action="/admin/category-list" method="post">
			    <div class="flex" th:if="!${allList.parent}">
			        <p class="vno" th:text="${allList.name}"></p>
			        <input type="hidden" th:value="${allList.no}"> 
			        <input class="hideInput" type="text" th:value="${allList.name}">
			        <button>수정</button>
			        <button class="hideBtn">완료</button>
			        <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}"	th:value="${_csrf.token}"/>
					<input type="hidden" name="_method" value="DELETE">
			        <button>삭제</button>
			    </div>
		    </form>
		    <div class="sublist flex" th:each="sublist:${list}"
		        th:if=${sublist.parent==allList}>
		        <p class="vno" th:text="${sublist.name}"></p>
		        <input type="hidden" th:value="${sublist.no}"> 
		        <input class="hideInput" type="text" th:value="${sublist.name}">
		        <button>수정</button>
		        <button class="hideBtn">완료</button>
		        <input type="hidden" th:if="${_csrf}" th:name="${_csrf.parameterName}"	th:value="${_csrf.token}"/>
				<input type="hidden" name="_method" value="DELETE">
		        <button>삭제</button>
		    </div>
		</div>
	</main>
</html>