<!DOCTYPE html>
<html xmlns:th="//www.thymeleaf.org" 
	th:replace="layout/common-layout :: commonLayout( ~{::head}, ~{::main} )" >
	<head>
		<meta charset="UTF-8">
		<title>Insert title here</title>
		<script src="/webjars/jquery/jquery.min.js"></script>
		<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=92df0645f503562ca16d1ec752e9a1f3&libraries=services,clusterer,drawing"></script>
		<script src="/js/map/storeDetail.js"></script>
		<link rel="stylesheet" href="/css/map/map.css">
		
	</head>
	<body>
	
		<main>
			<div class="wrap"  style="width: 1080px; margin: 0 auto;display: flex;padding-top:46px;">
				<div style="width:190px; margin-right: 50px;">
					<p>매장검색</p>
					<p>멤버쉽이 어쩌구</p>
				</div>
				<div style="width:700px;">
					<div><h2>매장검색</h2></div>
					<div style="display: flex" class="map-wrap">
						<div id="map" style="width:100%;height:200px;"></div>
					</div>
					<div>
						<ul class="detail">
							<li th:text="|${stores.name} 지점|">지점이름</li>
							<li th:text="${stores.address}">주소</li>
							<li th:text="${stores.callNumber}">전화번호</li>
							<li th:text="${stores.faxNumber}">팩스번호</li>
						</ul>
					</div>
					<div>
						<button class="map-btn" id="map-btn" onclick="loadSearch()" type="button">길찾기(구현 할까말까 일단 링크에 목적지 넘김 출발지도 본인위치로 넣을까 말가) </button>
					</div>
				</div>
			</div>
		</main>
		
	</body>
</html>