@charset "UTF-8";
#user-area {
	background-color: rgba(0,0,0, 0.1);
}
#user-area > .wrap{
	height: 40px;
	line-height: 40px;
}
.info botton{
	line-height: 18px;
}
.info .user-id {
	margin-right: 20px;
}

#user-area > .wrap ul li{
	margin: 0 10px;
}
/* /////////////////////////////////// */
/* ////////menu-area/////////////////////////// */
/* /////////////////////////////////// */
#logo-top{
	display: flex;
	justify-content: center;
	margin: 20px auto;
}


#menu-area{
	border-bottom:1px solid rgba(0,0,0, 0.1);
	position: relative; 
}
.sub-list{
/* 	position: relative;
	left: 180px;
	top:-150px; */
}


#gnb > .wrap > ul > li  {
	height: 50px;
	width:180px;
	text-align: center;
	font-size: 16px;
	line-height: 50px;
	font-weight: 700;
}
#gnb > .wrap > ul > li:hover  {
	background-color: #a9a9a9;
}
#gnb > .wrap > ul > li:hover > a {
	color: #fff;
}
#gnb > .wrap > ul > li > div {
	display:none;
	background-color: #a9a9a9;
	opacity: 0.9;
	position: relative;
	z-index: 100;
}
#gnb > .wrap > ul > li > div > div:hover > a {
	color: #fff;
}
#gnb > .wrap > ul > li:not(:first-of-type):hover > div  {
	display:block;
}
.sub-list{
	/* top:-150px;
	left:179px; */
}


#search-top > .wrap form input {
	display:block;
	height: 32px;
	padding: 0 1em;
	border:none;
	background-color: rgba(0,0,0, 0.1);
	border-radius: 3px;
}
#search-top > .wrap form {
	height: 32px;
	display: flex;
}
#search-top > .wrap form input:focus {
	outline: 1px solid rgba(0,155,255,1);
}
#search-top > .wrap form button{font-size: 0}
#search-top > .wrap form button::before {
	content: "";
	display:inline-flex;
	width : 32px;
	height: 32px;
	
	background-image: url("/images/icon/search_icon.svg");
	background-repeat: no-repeat;
	background-position: center;
	background-size:contain;
}

/* 챗봇 */

.chatbot {
	z-index : 100;
	position: fixed;
    right: 20px;
    bottom: 60px;
}


.chatbot-content {
	
	display : none;
	border: 1px solid #a9a9a9;
	background-color: rgba(255,255,255,0.8);
    border-radius: 17px;
    height: 300px;
    width: 270px;
}

.chatbot-content .chat-list{
	padding: 10px;
}
.chatbot-content .chatbot-section {
	overflow : auto;
	height: 220px;
}
.chatbot-content .chatbot-section .ques-section {
	text-align: end;
	margin-top: 10px;
    margin-right: 20px;
   /*  margin-bottom: 10px; */
}

.chatbot-content .chatbot-section .question{
	border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 5px;
    background-color: aliceblue;
}

.chatbot-content .search-sec{
	text-align: center;
}

.chatbot-content .search-sec .search-input{
	position: relative;
}
.chatbot-content .search-sec .search-input span{
	cursor : pointer;
	position: absolute;
	right: 20px;
    top: 4px;
}

.chatbot-content .search-sec .search-input .search{
	width: 240px;
	height: 30px;
    border: 1px solid #a9a9a9;
    border-radius: 26px;
    padding: 15px;
    vertical-align: bottom;
}

.chatbot-content .main-footer{
	text-align: center;
}

.chatbot-content .chatbot-section .chat-list ul {
	margin-bottom: 15px;
}

.chatbot-content .chatbot-section .chat-list li{
	display: inline;
    border: 1px solid #e9e9e9;
    border-radius: 5px;
    padding: 5px;
    background-color: aliceblue;
    margin-bottom: 10px;
}

.chatbot-content .chatbot-section .chat-list .wrap{
	margin-top: 15px;
    margin-left: 15px;
}
.chatbot-content .chatbot-section .chat-list .answer{
	display: block;
}
.chatbot-content .chatbot-section .wrap{
	margin-bottom: 5px;
    margin-left: 5px;
}

.chatbot-content .chatbot-section .chat-tit {
	border: 1px solid #e9e9e9;
    border-radius: 5px;
    background-color: #28A0FF;
    color: #fff;
    padding: 5px;
}

.chat-con1 {
	background-color: #F0FFF0;
    padding: 10px;
   
}
.chatbot-content .chatbot-section .chat-list {
	background-color: #F0FFF0;
    padding: 10px;
    margin-bottom: 10px;
}

#page{
	justify-content:center;
}

#page > p{
	cursor: pointer;
	margin-right: 5px;
}
